    <html>
        <head>
            <title>Django Boys blog</title>
        </head>
        <body>
            <!--
			<script>
				alert('GO TO TEST Blog');
			</script>
			-->
			<div>
                <h1><a href="mbapathe.pythonanywhere.com">Django Boys Blog</a></h1>
            </div>
			<div>
			{% for i in posts%}
				<div>
				<h1><a href = ''>{{ i.title }}</a></h1>
				<div>
				<p>{{ i.text }}</p>
				<h5>Author: {{ i.author }}</h5>
				<p><h6>Date of publication: {{ i.published_date|linebreaksbr }}</h6></p>
				</div>
				</div>
			{% endfor %}
			</div>

            
        </body>
    </html>